tensorflow-gpu==2
deepsegment
pyprind
sortedcontainers
overrides
attrs
torch>=1.2.0
numpy
pandas
spacy>=2.1.0,<2.2
scipy
matplotlib>=2.2.3
allennlp==0.9.0
https://github.com/phueb/Ludwig/archive/v1.3.3.tar.gz